<!DOCTYPE html>
<html>
	<head>
		<title>Project BGSJQJVCR</title>
		<script src="include/js/phaser.js"></script>
	</head>
	<body>
		<script src="/socket.io/socket.io.js"></script>
		<script src="include/js/boot.js"></script>
		<script src="include/js/load.js"></script>
		<script src="include/js/menu.js"></script>
		<script src="include/js/client.js"></script>
		<script src="include/js/game.js"></script>
	</body>
</html>
